<div class="uk-container uk-flex uk-flex-center uk-margin">
  <%= form_with model: @user, data: { turbo_method: :post }, class: "uk-card uk-card-default uk-card-body" do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, class: "uk-input" %>
    </div>
    <div class="field uk-margin">
      <%= f.label :password %>
      <%= f.password_field :password, class: "uk-input" %>
    </div>
    <div class="field uk-margin">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "uk-input" %>
    </div>
    <div class="uk-flex uk-flex-center">
      <%= f.submit t('helpers.submit.user_create'), class: "uk-border-rounded uk-button uk-button-primary" %>
    </div>
  <% end %>
</div>
