<div class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-height-viewport uk-padding-small">
  <%= render 'shared/flash_message' %>
  <h1 class="h1 uk-padding"><%= t ".title" %></h1>
  <%= link_to auth_at_provider_path(provider: :google) do %>
    <%= image_tag('web_light_sq_SI@1x.png', alt: 'Google sign in', class: 'uk-margin') %>
  <% end %>


  <div class="uk-padding line-div"><%= t'.or' %></div>

  <%= render 'form' %>
  <%= link_to t('link.login'), login_path, class: 'uk-margin' %>
</div>
