<%= turbo_stream.update 'flash_explanation', partial: 'shared/flash_message' %>
<%= turbo_stream.update 'error_explanation', partial: 'shared/error_messages', locals: { object: @album } %>

<%= turbo_stream.replace dom_id(@album) do %>
<div id="<%= dom_id(@album, :edit) %>" class="flex-bottom@49">
  <%= render 'form', album: @album %>
  <div class="mb-34 cancel-margin">
    <%= link_to t('link.cancel'), edit_cancel_album_path(@album), data: { turbo_stream: true }, class: 'paddig-y4x15 uk-text-small uk-border-rounded uk-button uk-button-default uk-button-small white-background-button' %>
  </div>
</div>
<% end %>