<% if @title != nil %>
<h1 class="uk-border-rounded overlay subcolor-b uk-margin-top"><%= @title %></h1>
<% end %>
<%= render 'shared/flash_message' %>
<%= render 'search_form', form_url: daily_pictures_pictures_path %>
<div class="uk-width-1-1">
  <% @pictures_by_year.each do |year, pictures| %>
    <h3><%= year %></h3>
    <div class="uk-child-width-1-2 uk-child-width-1-4@m" uk-grid="masonry: pack">
      <%= render partial: 'picture', collection: pictures, as: :picture, locals: { from: 'daily', path: ->(picture) { slide_show_picture_path(picture) } } %>
    </div>
  <% end %>
</div>
<div class="uk-width1-1 uk-flex uk-flex-center uk-flex-middle">
  <div class="margin-x-auto">
    <%= paginate @pictures, theme: 'uikit', left: 2, right: 2 %>
  </div>
  <div class="margin-r100@m margin-r20@95 scroll-top subcolor-b">
    <a href="#" uk-totop uk-scroll class="pagination"></a>
  </div>
</div>
