<% if @title != nil %>
<h1 class="uk-border-rounded overlay subcolor-b uk-margin-top"><%= @title %></h1>
<% end %>
<%= render 'shared/flash_message' %>
<%= render 'search_form', form_url: daily_pictures_pictures_path %>
<div class="uk-width-1-1">
  <% @pictures_by_year.each do |year, pictures| %>
    <h3><%= year %></h3>
    <div class="uk-child-width-1-2 uk-child-width-1-4@m" uk-grid="masonry: pack">
      <%= render partial: 'picture', collection: pictures, as: :picture, locals: { from: '', path: ->(picture) { slide_show_picture_path(picture) } } %>
    </div>
  <% end %>
</div>
<div class="uk-flex uk-flex-middle">
  <%= paginate @pictures, theme: 'uikit', left: 2, right: 2 %>
  <a href="#" uk-totop uk-scroll class="pagination scroll-top uk-box-shadow-small uk-border-circle"></a>
</div>
