<h1 class="uk-border-rounded overlay subcolor-b"><%= t ".title" %></h1>
<%= render 'shared/flash_message' %>
<%= render 'search_form', form_url: pictures_path %>
<div class="uk-width-1-1">
  <div class="uk-child-width-1-2 uk-child-width-1-4@m" uk-grid="masonry: pack">
    <%= render partial: 'picture', collection: @pictures, as: :picture, locals: { from: 'index' } %>
  </div>
</div>
<div class="uk-flex uk-flex-middle">
  <%= paginate @pictures, theme: 'uikit', left: 2, right: 2 %>
  <a href="#" uk-totop uk-scroll class="pagination scroll-top uk-box-shadow-small uk-border-circle"></a>
</div>
