<%= render 'shared/flash_message' %>
<h1 class="uk-border-rounded overlay subcolor-b"><%= t'.title' %></h1>
<ul class='uk-list uk-width-large uk-margin-large'>
  <li><%= t('.select_multiple') %></li>
  <li><%= t('.file_format') %></li>
  <li><%= t('.skip_duplicate') %></li>
  <li><%= t('.png_date') %></li>
</ul>

<%= form_with(model: @picture, url: pictures_path, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

  <label class='file_field' data-controller='picture'>
    <span class='ml-5' data-picture-target='fileLabel'><%= t'.select' %></span>
    <%= f.file_field :images, multiple: true, include_hidden: false, class: 'hidden', data: { picture_target: 'fileField', action: "change->picture#updateFileLabel" } %>
  </label>
  <div class='uk-margin'>
    <%= f.submit t('helpers.submit.save'), class: 'uk-border-rounded uk-button uk-button-primary' %>
  </div>
<% end %>
