<%= render 'shared/flash_message' %>
<h1 class="uk-border-rounded overlay subcolor-b uk-margin-top"><%= t ".title" %></h1>
<%= link_to auth_at_provider_path(provider: :google), class:'uk-margin' do %>
  <%= image_tag('web_light_sq_SI@1x.png', alt: 'Google sign in') %>
<% end %>

<div class="uk-padding line-div"><%= t'users.new.or' %></div>

<%= render 'form' %>