<!DOCTYPE html>
<html>
  <head>
    <title>WhatIsToday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/css/uikit.min.css' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit.min.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit-icons.min.js' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
