<!DOCTYPE html>
<html>
  <head>
    <title>WhatIsToday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/css/uikit.min.css' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit.min.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit-icons.min.js' %>
    <%= javascript_include_tag "https://accounts.google.com/gsi/client", async: true, defer: true %>
    <%= javascript_importmap_tags %>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="base_background uk-background-cover uk-background-top-right">
      <div class=" uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-height-viewport uk-padding-small">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
